.footer {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pdl{
  padding-left: 134px;
}
.head h1{
  margin-top: 0;
  margin-bottom: 8px;
}
.cl-btn {
  float: right;
  position: relative;
  margin-top: -45px;
  font-size: 29px;
  margin-right: 28px;
}

.cl-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* Remove every outline */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.tabl {
  text-transform: uppercase;
}

.toggle-tab-width {
  width: 98%;
}
table.table tbody,
table.table thead tr {
  display: block;
}

table.table tbody {
  overflow-y: auto;
  overflow-x: hidden;
}

table,
thead,
tr,
td,
th {
  text-align: center;
}

.table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #707070;
  border-bottom: none;
  border-top: none;
}

tbody {
  background-color: rgb(245, 245, 245, 0.5);
}

thead {
  border-bottom: 1px solid #707070;
  background-color: #c3c3cb;
}

thead tr th {
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

tbody tr td {
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
.fas {
  float: right;
  padding-right: 10px;
  margin-top: 5px;
}
/*Scrollbar customization*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.table-wrapper-scroll-y::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.6);
  width: 12px;
}

.table-wrapper-scroll-y::-webkit-scrollbar-thumb {
  background: #c9c8c8;
  border-radius: 10px;
  width: 12px;
  height: 100px;
}

.table-wrapper-scroll-y::-webkit-scrollbar-track {
  background: rgba(0, 128, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}

#total {
  background-color: #b9b0e5;
  border-radius: 20px;
  display: flex;
  float: right;
  padding: 10px 15px;
}

.table-nav {
  display: flex;
  justify-content: space-between;
  max-width: 1030px;
  min-width: 850px;
  text-transform: none;
  margin-bottom: 15px;
  font-size: 15px;
}
tbody tr:hover{
  background-color: rgba(148,148,299,0.5);
}

.table-nav label {
  margin-right: 5px;
}

.table-nav select,
.table-nav input {
  width: 110px;
  padding-left: 10px;
  height: 24px;
  border: none;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 2px gray);
  background-color: white;
}

.far {
  position: relative;
  right: 24px;
}

#datepickers-container {
  left: -120px;
}
.purchase-button{
  margin-top: -30px;
}
.purchase-button:hover, .footer-scan:hover{
  opacity: 0.85;
  cursor: pointer;
}
@media (max-width: 1150px) {
  .table-nav {
    max-width: 100%;
    min-width: 0;
    width: 100%;
  }
  .table-nav div {
    flex-wrap: wrap;
  }
  #tn-div2 {
    justify-content: flex-end;
  }
  .tablenav-indiv {
    margin-bottom: 11px;
  }
  .table-nav label,
  #sid {
    margin-right: 8px;
  }
  #esid {
    margin-left: 8px;
  }
  .ml-0 {
    margin-left: 0px !important;
  }
  #to-span {
    margin-left: 20px;
  }
}

.footer-scan {
  height: fit-content;
  background-color: #a3a3a3;
  border-radius: 20px;
  box-shadow: 0 5px 5px -5px;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 20px;
}

.purchase-button {
  height: fit-content;
  background-color: #b38fdc;
  border-radius: 20px;
  box-shadow: 0 5px 5px -5px;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 20px;
  white-space: nowrap;
}
@media (max-width:900px){
  .purchase-button{
    margin-top: 0;
  }
}