.css_graph_1 {
  padding: 10px;
}

.css_graph_1 p {
  margin-top: -18px;
  font-size: 13px;
  width: 16px;
}

#y-axis p {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 10%;
  font-family: inherit;
}
#expense-graph-div-p{
  margin-bottom: -50px;
}
#graph-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 200px;
  margin-left: 5px;
  border-left: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding-left: 5px;
  padding-right: 10px;
}

.divG1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#e67bc0), to(#a22b6d));
  background: linear-gradient(#e67bc0, #a22b6d);
  border-radius: 10px;
  margin: 1px;
}

.css_graph_2 {
  padding: 10px;
}

.css_graph_2 p {
  margin-top: -18px;
  font-size: 13px;
  width: 16px;
}

#y-axis2 p {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 10%;
  font-family: inherit;
}

#graph-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 150px;
  margin-left: 5px;
  border-left: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding-left: 5px;
  padding-right: 10px;
}

.divG2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#b4b3b3), to(#7e7e7e));
  background: linear-gradient(#b4b3b3, #7e7e7e);
  border-radius: 10px;
  margin: 1px;
}
.toolTip{
    background-color: rgba(236, 236, 236, 0.87);
    color: black;
    font-size: 12px;
    font-family: inherit;
    padding: 10px;
    border: none;
    border-radius: 15px;
    z-index: 1;
    margin-left: -125px;
    width: auto;
    display: none;
    margin-bottom: -38px;
}