.footer {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .dots-div {
    margin-top: 7px;
  }
  
  .box-div {
    width: 300px;
    height: 154px;
    border: 1px solid #707070;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
  .box-div-head {
    background-color: rgba(112, 112, 112, 0.4);
    padding-left: 10px;
  }
  
  .diag-form-inp {
    font-family: inherit;
    background-color: transparent;
    border: none;
    padding-left: 10px;
    font-size: 15px;
    margin-top: 5px;
  }
  
  .diag-form-inp2 {
    font-family: inherit;
    border: none;
    padding-left: 10px;
    font-size: 15px;
    width: 70px;
    margin-left: 20px;
    height: 34px;
    -webkit-filter: drop-shadow(2px 2px 2px gray);
    filter: drop-shadow(2px 2px 2px gray);
  }
  
  .inp-select {
    background-color: white;
    -webkit-filter: drop-shadow(2px 2px 2px gray);
    filter: drop-shadow(2px 2px 2px gray);
    border: none;
    border-radius: 50px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .inp-select i {
    font-size: 12px;
    top: -3px;
    position: relative;
    left: 4px;
  }
  
  .inp-select i:hover {
    cursor: pointer;
    opacity: 0.7;
  }
