.footer {
    margin-top: 10px;
    position: relative;
    width: 100%;
  }
  
  .footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .dots-div {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin-left: 50%;
    margin-top: 2%;
  }
  
  .icons-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .icons {
    width: 55px;
    height: 55px;
    background-color: rgba(178, 164, 233, 0.7);
    border-radius: 50%;
    border: none;
    margin-right: 10px;
    text-align: center;
  }
  
  .icons:hover {
    opacity: 0.7;
  }
  
  .icons i {
    margin-top: 15.2px;
    font-size: 24px;
    float: none;
    padding-right: 0;
  }
  
  .icons img {
    margin-top: 14px;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
  }
  
  .dot:hover {
    opacity: 0.7;
  }