a {
  text-decoration: none;
}


.fpcontainer {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  width: 470px;

  padding:10px;
  border-radius: 20%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 2;
  display: none;
}

.fpcontainer form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.fpcontainer a{
position: absolute;
top: 30px;
right: 30px;
}



.email-icon {
  position: absolute;
  padding-left: 15px;
  /* top: 57%; */
  height: 60px;
  width: 45px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 999;
  margin-top: 40px;
}

input[name="email"] {
  width: 450px;
  height: 50px;
  padding: 10px 20px;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid rgba(136, 136, 136, 0);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins";
  font-size: 16px;
  color: black;
  text-align: center;
  background-repeat: no-repeat;
  background-color: rgba(167, 167, 167, 0.274);
  margin-top: 20px;
}

button.reset {
  background-color: #524f4f;
  color: white;
  padding: 5px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  width: 27%;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 15px;
}

