.flex {
    display: flex;
    flex-wrap: nowrap;
}

 select,
input {
    width: 110px;
    padding-left: 10px;
    height: 24px;
    border: none;
    border-radius: 20px;
    -webkit-filter: drop-shadow(2px 2px 2px gray);
    filter: drop-shadow(2px 2px 2px gray);
}

label {
    width: 100px;
    height: 17px;
    font-size: 13px;
    margin-right: 10px;
} 

.far {
    position: relative;
    right: 24px;
} 

/*till here everything is same as search.css*/
 .status_dpdwn {
    background: unset;
    padding-left: 0;
    width: 90px;
    text-overflow: ellipsis;
}

.status_dpdwn2 {
    width: 75px
}

.status {
    display: flex;
    flex-direction: column;
}

.status select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.status::after {
    content: "\276F";
    transform: rotate(90deg);
    margin-top: 19px;
    margin-left: 58px;
    position: absolute;
    pointer-events: none;
}
#dpdwn1::after{
    margin-left:75px
}