* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-zoom: 75%;
  max-zoom: 150%;
}

/* Remove every outline */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

html {
  background: url("../src/img/main_background.png") no-repeat center center
    fixed;
  background-size: cover;
}

body {
  background: url("../src/img/main_background.png") no-repeat center center
    fixed;
  background-size: cover;
}
