* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-zoom: 75%;
  max-zoom: 150%;
}

/* Remove every outline */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background-image: url("../src/img/main_background.png");
  background-size: cover;
}

.tabl {
  position: absolute;
  width: 98%;
  margin-top: 120px;
  text-transform: uppercase;
}

.toggle-tab-width {
  width: 98%;
}

table.table tbody,
table.table thead tr {
  display: block;
}

table.table tbody {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

table,
thead,
tr,
td,
th {
  text-align: center;
}

.table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #707070;
  border-bottom: none;
  border-top: none;
}

tbody {
  background-color: rgba(245, 245, 245, 0.5);
}

thead {
  border-bottom: 1px solid #707070;
  background-color: #c3c3cb;
}

thead tr th {
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

tbody tr td {
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

.fas {
  float: right;
  padding-right: 10px;
  margin-top: 5px;
}

/*Scrollbar customization*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.table-wrapper-scroll-y::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.6);
  width: 12px;
}

.table-wrapper-scroll-y::-webkit-scrollbar-thumb {
  background: #c9c8c8;
  border-radius: 10px;
  width: 12px;
  height: 100px;
}

.table-wrapper-scroll-y::-webkit-scrollbar-track {
  background: rgba(0, 128, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}